In [63]:
# load modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [30]:
#Load csv into data frame
del df
df = pd.read_csv('C:/Users/cwang/Documents/DAT_SF_14/homework/hw1/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [31]:
df.set_index('PassengerId', inplace=True)

In [35]:
# Q1: There are 891 passengers in the list. Check count row below.
# Q2: Overall survival rate is 38.4%. Check mean of Survived below.
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [33]:
# Q3 and Q4: There are 577 male passengers and 314 female passengers
#1
df.Sex.value_counts()
#2
df.groupby('Sex').size()

Sex
female    314
male      577
dtype: int64

In [21]:
# Q5: Overall survival rate of male passengers was 18.9%
# Q6: Overall survival rate of female passengers was 74.2%
#1
df.groupby('Sex').Survived.mean()
#2
df[df.Sex == 'male'].Survived.mean()
df[df.Sex == 'female'].Survived.mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [39]:
# Q7: Average age based on those with age information is 30
df.Age.count()
df.Age.mean()

# Let's fill null value with median age
# Average age is 29
df['Age2'] = df.Age.fillna(df.Age.median())
df.Age2.count()
df.Age2.mean()

29.361582491582489

In [42]:
# Q8: Average age of survived 28
# Q9: Average age of not survived 31
df.groupby('Survived').Age.agg(['count','mean','median'])

          count       mean  median
Survived
0           424  30.626179      28
1           290  28.343690      28

In [28]:
# Q10: Female may had priority to get in life boat
# Age doesn't necessarily played a role

29.361582491582489

In [45]:
# Q11
df.groupby('Pclass').size()

Pclass
1         216
2         184
3         491
dtype: int64

In [46]:
# Q12
df.groupby('Pclass').Survived.mean()

Pclass
1         0.629630
2         0.472826
3         0.242363
Name: Survived, dtype: float64

In [47]:
# Q13: Class 1 might get priority to get in life bloat
# Sex seems to play a bigger role than Class
df.groupby(['Pclass','Sex']).Survived.mean()

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [82]:
# Q14: Check whether other variables may be predicting survival rate first
# Answer to question 14: I will put in Age, Pclass,Sex and Fare into the model
df['Age3'] = 0
df['Age3'] = df.Age.map(lambda x: 0 if x <= 1 
                                else 1 if x <= 10 
                                else 10 if x <= 20 
                                else 20 if x <= 30 
                                else 30 if x <= 40 
                                else 40 if x <= 50 
                                else 50 if x <= 60
                                else 60 if x <= 70
                                else 70 if x <= 80
                                else 80 if x <= 90
                                else float('nan') if math.isnan(x) 
                                else 90)
df.head()

df.describe()
#df.Age3.value_counts().plot(kind ='bar')
#df.groupby('Age3').Survived.mean().plot(kind = 'bar')
#df.groupby('Parch').Survived.mean().plot(kind = 'bar')
df['Fare2'] = 0
df['Fare2'] = df.Fare.map(lambda x: 0 if x <= 8 
                                else 8 if x <= 15 
                                else 15 if x <= 31 
                                else 31)
df.groupby('Fare2').Survived.mean().plot(kind = 'bar')
df.groupby(['Pclass','Fare2']).Survived.mean() 
df.groupby('Embarked').Survived.mean().plot(kind = 'bar')
df.groupby(['Pclass','Embarked']).Survived.mean()

Pclass  Embarked
1       C           0.694118
        Q           0.500000
        S           0.582677
2       C           0.529412
        Q           0.666667
        S           0.463415
3       C           0.378788
        Q           0.375000
        S           0.189802
Name: Survived, dtype: float64